@font-face {
  font-family: "Sohne Breit";
  src: url("../fonts/TestSöhneBreit-Buch.otf");
}

@font-face {
  font-family: "Sohne Breit Bold";
  src: url("../fonts/TestSöhneBreit-Dreiviertelfett.otf");
}

@font-face {
  font-family: "Greycliff Bold";
  src: url("../fonts/GreycliffCF-Bold.ttf");
}

@font-face {
  font-family: "Greycliff Medium";
  src: url("../fonts/GreycliffCF-Medium.ttf");
}

@font-face {
  font-family: "Greycliff Demibold";
  src: url("../fonts/GreycliffCF-DemiBold.ttf");
}

@import url("https://fonts.googleapis.com/css2?family=DM+Mono:wght@500&display=swap");
